.header {
    display: flex !important;
    justify-content: space-between;
    border: 1px solid black;
    padding: 5px;
}

.img {
    width: 75px;
    height: 75px;
    margin: 10px;
}

.nav-list > ul {
    display: flex;
    list-style-type: none;
}

.nav-list > ul > li {
    margin: 20px;
}
.login-btn {
    margin: 10px;
    cursor: pointer;
}
.search-box {
    margin: 10px;
    margin-right: 0px;
}

.button-rating {
    margin-left: 10px;
}
.res-card {
    width: 200px;
    height: 520px;
    padding: 10px;
}

.res-logo {
    width: 100%;
}

.res-card:hover {
    border: 1px solid #f0f0f0;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}
